<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Choose the better sounding song.</h1>
    <h2>The first song is Song "A", and the second is Song "B"</h2>

    <iframe
      width="560"
      height="315"
      src="{{linkA}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <br />
    <form method="post" , action="/compare11a">
      <button type="submit">A</button>
    </form>
    <br />
    <iframe
      width="560"
      height="315"
      src="{{linkB}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <br />
    <form method="post" , action="/compare11b">
      <button type="submit">B</button>
    </form>
  </body>
</html>
