<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Instructions</h1>
    <p>
      1. Enter your information <br />2. Listen to the two songs that are
      returned. <br />3. Choose the song that you feel is more "in tune".
      <br />4. Do the same until you reach the final "Thank You" page.
    </p>
    <a href="./info"><button type="submit">Next</button></a>
  </body>
</html>
